<div class="card mb-3 event d-flex" id="event_<%= event.id %>">
  <div class="card-body pb-1">
    <div class="d-flex">
      <div class="flex-shrink-0" title='<%= event_name(event.event_type) %>'>
        <%= octicon(event_icon(event), height: 18) %>
      </div>
      <div class="flex-grow-1 ms-3">
        <h5 class='card-title'>
      <%= link_to event.actor, "https://github.com/#{event.actor.gsub('[bot]', '')}", target: :_blank %>

      <%= event.action_text %>

      <% if params[:id].present? %>
        <%= link_to event.repository, "https://github.com/#{event.repository}", target: :_blank, class: 'text-break' %>
      <% else %>
        <%= link_to event.repository, "/events/#{event.repository}", class: 'text-break' %>
      <% end %>
        </h5>
      
        <h6 class="card-subtitle mb-2 text-muted" title="<%= event.created_at %>">
        <%= distance_of_time_in_words_to_now event.created_at %> ago
        </h6>

      <%= render partial: "events/#{event.event_type.underscore}", locals: {event: event}  %>
      </div>
      <div class="flex-shrink-0" title='<%= event_name(event.event_type) %>'>
        <%= link_to "https://github.com/#{event.actor.gsub('[bot]', '')}", target: :_blank, class: '' do %>
          <img src="https://github.com/<%= event.actor.gsub('[bot]', '') %>.png" class="rounded" height='40' width='40' onerror="this.style.display='none'">
        <% end %>
      </div>  
    </div>
  </div>
</div>
