<div class="px-4 pt-2 my-5 text-center">
  <h1 class="display-5 fw-bold">
    <a href="/" class="text-decoration-none link-dark">GH Timeline</a>
  </h1>

  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Browse the timeline of over <%= number_to_human Import.sum(:event_count) %> events for every public repo on GitHub, all the way back to 2015. Data updated hourly from <a href='https://www.gharchive.org/'>GH Archive</a>.</p>
  </div>

  <h1 class="display-5 fw-bold">
    <%= link_to "https://github.com/#{@repository.split('/').first}", target: :_blank do %>
      <img src="https://github.com/<%= @repository.split('/').first %>.png" class="rounded inline-block me-2" height='40' width='40' onerror="this.style.display='none'">
    <% end%>

    <%= link_to @repository, "https://github.com/#{@repository}", target: :_blank, class: 'text-break' %>
  </h1>
</div>

<div class='position-relative mb-3 pb-3'>
  <div class="dropdown text-center">
    <button class="btn dropdown-toggle position-absolute top-0 start-50 translate-middle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= @year.year %>
    </button>
    <ul class="dropdown-menu text-center" style='min-width: 82px;'  aria-labelledby="dropdownMenuButton1">
      <% (2015..Time.now.year).reverse_each do |year| %>
        <li><a class="dropdown-item <%= 'active' if year == @year.year %>" href="<%= url_for(year: year, before: nil) %>"><%= year %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<% if @events.any? %>
  <div class="container-sm">
    <%= render @events %>
  </div>

  <% if @events.length == 30 %>
    <div class="px-4 mt-5 text-center">
      <a href="<%= url_for(before: @events.last.id, year: @year.year) %>" class="btn btn-primary btn-lg px-4 gap-3">Load more</a>
    </div>
  <% end %>
<% else %>
  <div class="px-4 mt-5 text-center">
    No more events found for this year, try a different year.
  </div>
<% end %>