<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    <% if @title.present? %>
        <%= @title %> -
      <% end %>
      GH Timeline
    </title>
    <meta name="description" content="Browse the timeline of over <%= number_to_human Import.sum(:event_count) %> events for every public repo on GitHub, all the way back to 2015. Data updated hourly from GH Archive.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="main">
      <div class="px-4 container-sm pt-2 mt-5 text-center">
        <h1 class="display-5 fw-bold">
          <a href="/" class="text-decoration-hover link-dark">GH Timeline</a>
        </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Browse the timeline of over <%= number_to_human Import.sum(:event_count) %> events for every public repo on GitHub, all the way back to 2015. Data updated hourly from <a href='https://www.gharchive.org/'>GH Archive</a>.</p>
        </div>
      </div>

      <%= yield %>
    </div>

    <footer class="py-5 container-sm text-muted text-center">
      Copyright © <%= Date.today.year%>, <%= link_to 'Andrew Nesbitt', "https://nesbitt.io", class: 'link-dark', target: :_blank %>
    </footer>
  </body>
</html>
